@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #000814;
}

::-webkit-scrollbar-thumb {
    background: #C5C7D4;
}


.homepage_bg {
    background: url("../src/assets/Images/bghome.svg");
}

.code-border {
    background: linear-gradient(111.93deg, rgba(14, 26, 45, .24) -1.4%, rgba(17, 30, 50, .38) 104.96%);
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
}

.codeblock1 {
    border-radius: 100%;
    -webkit-filter: blur(34px);
    filter: blur(34px);
    height: 257.05px;
    left: calc(50% - 263.005px);
    opacity: .2;
    top: calc(50% - 175.995px);
    -webkit-transform: matrix(1, 0, -.03, 1, 0, 0);
    transform: matrix(1, 0, -.03, 1, 0, 0);
    width: 372.95px;
    background: linear-gradient(123.77deg, #8a2be2 -6.46%, orange 59.04%, #f8f8ff 124.53%);
}

.codeblock2 {
    border-radius: 100%;
    -webkit-filter: blur(34px);
    filter: blur(34px);
    height: 257.05px;
    left: calc(50% - 263.005px);
    opacity: .2;
    top: calc(50% - 175.995px);
    -webkit-transform: matrix(1, 0, -.03, 1, 0, 0);
    transform: matrix(1, 0, -.03, 1, 0, 0);
    width: 372.95px;
    background: linear-gradient(118.19deg, #1fa2ff -3.62%, #12d8fa 50.44%, #a6ffcb 104.51%);
}

.lable-style {
    @apply text-[14px] text-richblack-5;
}

.form-style {
    @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}


.spinner {
    position: relative;
    width: 15.7px;
    height: 15.7px;
 }
 
 .spinner div {
    width: 100%;
    height: 100%;
    background-color: #838894;
    border-radius: 50%;
    animation: spinner-4t3wzl 1.25s infinite backwards;
 }
 
 .spinner div:nth-child(1) {
    animation-delay: 0.15s;
    background-color: rgba(131,136,148,0.9);
    margin-bottom: 5px;
 }
 
 .spinner div:nth-child(2) {
    animation-delay: 0.3s;
    background-color: rgba(131,136,148,0.8);
    margin-bottom: 5px;
 }
 
 .spinner div:nth-child(3) {
    animation-delay: 0.45s;
    background-color: rgba(131,136,148,0.7);
    margin-bottom: 5px;
 }
 
 .spinner div:nth-child(4) {
    animation-delay: 0.6s;
    background-color: rgba(131,136,148,0.6);
    margin-bottom: 5px;
 }
 
 .spinner div:nth-child(5) {
    animation-delay: 0.75s;
    background-color: rgba(131,136,148,0.5);
    margin-bottom: 5px;
 }
 
 @keyframes spinner-4t3wzl {
    0% {
       transform: rotate(0deg) translateY(-200%);
    }
 
    60%, 100% {
       transform: rotate(360deg) translateY(-200%);
    }
 }